{% extends '/layouts/base.twig' %} {% block parent_css %}tc-single-post-creative-page{% endblock %} {% block content %}

<main>
    <!-- ====== start tc-main-post-style1 ====== -->
    <section class="tc-main-post-style1 pb-60">
        <div class="container">
            <div class="tc-main-post-title pt-40 pb-40">
                <div class="row">
                    <div class="col-lg-8">
                        {% if post.category %}
                        <a href="{{post.category.url}}">
                            <p class="text-uppercase mb-15">{{post.category.name}}</p>
                        </a>
                        {% endif %}


                        <h1 class="title">{{var.data.title}}</h1>
                        <h2 class="fsz-16px mt-20 color-666">{{var.data.subtitle | default('')}}</h2>
                    </div>
                </div>
            </div>
            <div class="meta-nav pt-30 pb-30 border-top border-1 brd-gray">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="author-side color-666 fsz-13px">
                            <div class="author me-40 d-flex d-lg-inline-flex align-items-center">
                                {#
                                <span class="icon-30 rounded-circle overflow-hidden me-10">
                                    <img src="assets/img/colums.png" alt="" />
                                </span>
                                #}
                                <span>By</span>

                                {% for author in var.data.author %}
                                <span class="ms-1"> {{author.name}} </span>
                                {% endfor %}
                            </div>
                            <span class="me-40">
                                <i class="la la-calendar me-1"></i> {{var.data.publish_ts|date('M d, Y')}}
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6 text-lg-end">
                        <div class="links-side color-000 fsz-13px">
                            <a
                                href="https://www.addtoany.com/add_to/copy_link?linkurl={{page.url|url_encode}}&amp;linkname="
                                target="_blank"
                                rel="noopener noreferrer"
                                class="me-40"
                            >
                                <i class="la la-link me-1"></i> Copy Link
                            </a>
                            {# <a href="#" class="me-40"><i class="la la-bookmark me-1"></i> Bookmark</a>
                            <a href="#"><i class="la la-exclamation-triangle me-1"></i> Report</a> #}
                        </div>
                    </div>
                </div>
            </div>
            {% if var.data.cover != null %}
            <div class="tc-main-post-img img-cover mb-50">
                <img src="{{var.data.cover}}" alt="" />
            </div>
            {% endif %}
            <div class="tc-main-post-content color-000">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="sharing">
                            <p class="text-uppercase mb-20">Share</p>
                            <div class="share-icons">
                                <a
                                    href="https://www.addtoany.com/add_to/twitter?linkurl={{page.url|url_encode}}&amp;linkname="
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    class="track"
                                    data-action="share_twitter"
                                    data-cate="share"
                                    data-label="{{var.data.id}}"
                                >
                                    <i class="la la-twitter"></i>
                                </a>
                                <a
                                    href="https://www.addtoany.com/add_to/facebook?linkurl={{page.url|url_encode}}&amp;linkname="
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    class="track"
                                    data-action="share_facebook"
                                    data-cate="share"
                                    data-label="{{var.data.id}}"
                                >
                                    <i class="la la-facebook-f"></i>
                                </a>
                                <a
                                    href="https://www.addtoany.com/add_to/line?linkurl={{page.url|url_encode}}&amp;linkname="
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    class="track"
                                    data-action="share_line"
                                    data-cate="share"
                                    data-label="{{var.data.id}}"
                                >
                                    <i class="lab la-line"></i>
                                </a>
                                <a
                                    href="https://www.addtoany.com/add_to/linkedin?linkurl={{page.url|url_encode}}&amp;linkname="
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    class="track"
                                    data-action="share_linkedin"
                                    data-cate="share"
                                    data-label="{{var.data.id}}"
                                >
                                    <i class="lab la-linkedin-in"></i>
                                </a>
                                <a
                                    href="https://www.addtoany.com/add_to/copy_link?linkurl={{page.url|url_encode}}&amp;linkname="
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    class="track"
                                    data-action="share_copy_link"
                                    data-cate="share"
                                    data-label="{{var.data.id}}"
                                >
                                    <i class="las la-link"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <h4 class="sub-title sm-content-width mb-40">{{var.data.intro | default('')}}</h4>

                        <div class="tc-main-post-content">
                            {{ var.data.content|editor2Html({ 'paragraph': 'info-text sm-content-width mt-30', 'header':
                            'sub-title sm-content-width mt-40', 'list': 'info-text sm-content-width mt-40 mb-40',
                            'image': 'img img-cover sm-content-width mt-15', 'image_caption': 'text-center color-999
                            py-3 fst-italic sm-content-width', 'delimiter': 'info-text sm-content-width', 'quote':
                            'quote-message-content sm-content-width mt-50', 'quote_message': 'quote-message w-100',
                            'quote_caption': 'color-999 mt-20', }) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ====== end tc-main-post-style ====== -->

    <!-- ====== start another posts ====== -->
    <section class="another-news">
        <div class="container">
            <div class="content pt-50 pb-50 border-1 border-top border-dark">
                <div class="row">
                    {% for press in var.data.relateds %} {#
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="/{{press.id}}/{{press.slug}}">
                            <h2 class="post-title">{{press.title}}</h2>
                            <h3 class="post-subtitle">{{press.intro | default('')}}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by {% for author in press.author %}
                            <a href="/author/{{author.id}}">{{author.name}}</a>
                            {% endfor %} on {{press.publish_ts|date('Y-m-d H:i')}}
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    #}

                    <div class="col-lg-3 mb-5 mb-lg-0">
                        {% if loop.first %} RECOMMENDED {# <i class="la la-angle-right ms-1"></i> #} {% else %}
                        <span class="mb-10"></span>
                        {% endif %}
                        <div class="row">
                            <div class="col-12 border-1 border-end brd-gray">
                                <div class="tc-post-grid-default">
                                    <div class="item">
                                        {% if press.cover != null %}
                                        <div class="img img-cover th-250">
                                            <img src="{{press.cover}}" alt="" />
                                        </div>
                                        {% endif %}

                                        <div class="content pt-20">
                                            {% if post.category %}
                                            <a href="{{post.category.url}}" class="news-cat color-999 fsz-13px text-uppercase mb-10">{{post.category.name}}</a>
                                            {% endif %}

                                            <h4 class="title ltspc--1 mb-10">
                                                <a
                                                    href="/{{press.id}}/{{press.slug}}"
                                                    class="track"
                                                    data-action="curiosity_recommend"
                                                    data-cate="related"
                                                    data-label="{{press.id}}"
                                                >
                                                    {{press.title}}
                                                </a>
                                            </h4>
                                            <div class="text color-666">{{press.intro | default('')}}</div>
                                            <div class="meta-bot lh-1 mt-20">
                                                <ul class="d-flex">
                                                    <li class="date me-5">
                                                        <i class="la la-calendar me-2"></i> {{press.publish_ts|date('M
                                                        d, Y')}}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- ====== start another posts ====== -->
</main>

{#
<!-- Page Header-->
<header
    class="masthead"
    style="{% if var.data.cover != null %}background-image: url({{var.data.cover|site_url('cdn')}});{% endif %}"
>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    {% if var.data.cat_id %}
                    <a href="{{var.data.tag_url}}">
                        <span class="badge text-bg-light">{{ var.data.cat_name }}</span>
                    </a>
                    {% endif %}
                    <h2 class="subheading">{{var.data.subtitle | default('')}}</h2>
                    <h1>{{var.data.title}}</h1>
                    <h3 class="subheading">{{var.data.intro | default('')}}</h3>
                    <span class="meta">
                        Posted by {% for author in var.data.author %}
                        <a href="/author/{{author.id}}">{{author.name}}</a>
                        {% endfor %} on {{var.data.publish_ts|date('Y-m-d H:i')}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">{{ var.data.content|editor2Html }}</div>
        </div>
    </div>
</article>

<hr />
<!-- Related Post Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            {% for press in var.data.relateds %}
            <!-- Post preview-->
            <div class="post-preview">
                <a href="/{{press.id}}/{{press.slug}}">
                    <h2 class="post-title">{{press.title}}</h2>
                    <h3 class="post-subtitle">{{press.intro | default('')}}</h3>
                </a>
                <p class="post-meta">
                    Posted by {% for author in press.author %}
                    <a href="/author/{{author.id}}">{{author.name}}</a>
                    {% endfor %} on {{press.publish_ts|date('Y-m-d H:i')}}
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            {% endfor %}
        </div>
    </div>
</div>
#} {% endblock %}
