{#
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
	<div class="container px-4 px-lg-5">
		<a class="navbar-brand" href="/">{{var.site.name}}</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarResponsive"
			aria-controls="navbarResponsive"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			Menu
			<i class="fas fa-bars"></i>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ms-auto py-4 py-lg-0">
				<li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/">首頁</a></li>
			</ul>
		</div>
	</div>
</nav>
#}

<!-- ====== start navbar-container ====== -->
<div class="navbar-container">
	<div class="container">
		<!-- ====== start top navbar ====== -->
		<div class="top-navbar style-1">
			<div class="container p-0">
				<div class="row align-items-center">
					<div class="col-lg-4">
						<div class="date-weather mb-3 mb-lg-0">
							<div class="row align-items-center">
								<div class="col-12">
									<div class="item">
										<div class="icon me-3 pt-1">
											<i class="fa fa-calendar"></i>
										</div>
										<div class="inf">
											<strong>{{ "now"|date("l") }}</strong>
											<p>{{ "now"|date("M d, Y") }}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<a href="/" class="logo-brand d-none d-lg-block text-center">
							{% if page.meta.logo %}
							<img src="{{page.meta.logo|repathImg}}" alt="{{var.site.name}}" style="max-height: 58px" />
							{% else %} {{var.site.name}} {% endif %}
						</a>
					</div>
					<div class="col-lg-4">
						<div class="sub-darkLight">
							<div class="row text-end align-items-center justify-content-end" x-data="auth">
								<template x-if="instance.loaded">
									<div class="col-5">
										<a href="#login" class="fs-6" x-bind="login" target="_blank">
											<template x-if="status() == false"><span>登入／註冊</span></template>
											<template x-if="status() == true">
												<i class="las la-user-circle fs-5 me-1"></i>
											</template>
										</a>
									</div>
								</template>
								<div class="col-2">
									<a href="/rss" class="fs-6" target="_blank">
										<i class="las la-rss fs-5 me-1"></i>
									</a>
								</div>
								<div class="col-2">
									<a href="{{'/cart'|site_url('purchase')}}" class="fs-6" target="_blank">
										<i class="las la-shopping-cart fs-5 me-1"></i>
									</a>
								</div>
								<div class="col-3" x-data="dropdown">
									<a
										href="#"
										class="text-uppercase fs-6 border-bottom border-1 border-dark subs track"
										data-action="tryto"
										data-cate="show-box"
										data-label="nav-subscribe"
										@click="toggle"
									>
										<i class="fa fa-envelope fs-5 me-1"></i>
										訂閱
									</a>
									<template x-if="open">
										<div class="nav-subs-card show">
											<p class="fsz-16px text-uppercase mb-20">電子報</p>
											<form
												x-validate="submit"
												x-data="subscribe"
												class="sub-form"
												data-after="window.gtag('event', 'submit', {event_category: 'show-box',event_label: 'nav-subscribe'});"
												novalidate
											>
												<div class="form-group">
													<span class="icon">
														<i class="fa fa-envelope"></i>
													</span>
													<input
														type="email"
														name="email"
														class="form-control"
														placeholder="電子信箱"
														x-model="email"
														data-rules="required|email"
													/>
													<button type="submit">訂閱</button>
												</div>
												<p class="mt-3 color-666 fsz-12px fst-italic">
													您訂閱後，即表示您接受了我們的
													<a href="#0" class="color-777 text-decoration-underline fst-normal">
														隱私權條款
													</a>
													。
												</p>
											</form>
											<span class="cls" @click="toggle"><i class="fa fa-times"></i></span>
										</div>
									</template>
								</div>

								{#
								<div class="col-6">
									<div class="darkLight-btn">
										<span class="icon active" id="light-icon">
											<i class="fa fa-sun"></i>
										</span>
										<span class="icon" id="dark-icon">
											<i class="fa fa-moon"></i>
										</span>
									</div>
								</div>
								#}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ====== end top navbar ====== -->

		<!-- ====== start navbar ====== -->
		<nav class="navbar navbar-expand-lg navbar-light style-1">
			<div class="container p-0">
				<div class="mob-nav-toggles d-flex align-items-center justify-content-between">
					{#
					<button
						class="navbarList-icon me-lg-5"
						data-bs-toggle="offcanvas"
						href="#offcanvasExample"
						role="button"
						aria-controls="offcanvasExample"
					>
						<span></span>
						<span></span>
					</button>
					#}
					<a href="#" class="logo-brand d-block d-lg-none w-50 my-4">{{var.site.name}}</a>
					{#
					<button
						class="navbar-toggler"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent"
						aria-expanded="false"
						aria-label="Toggle navigation"
					>
						<span class="navbar-toggler-icon"></span>
					</button>
					#}
				</div>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						{% for menu in var.menu.1 %} {% if menu.type == 1 %}
						<li class="nav-item">
							<a
								class="nav-link track"
								data-action="curiosity"
								data-cate="main-menu"
								data-label="{{menu.name}}"
								href="{{ menu.link }}"
							>
								{{ menu.name }}
							</a>
						</li>
						{% elseif menu.type == 2 %}
						<li class="nav-item dropdown">
							<a
								class="nav-link dropdown-toggle track"
								data-action="curiosity"
								data-cate="main-menu"
								data-label="{{menu.name}}"
								href="#"
								id="navbarDropdown1"
								role="button"
								data-bs-toggle="dropdown"
								aria-expanded="false"
							>
								{{ menu.name }}
							</a>
							<ul class="dropdownMenu" aria-labelledby="navbarDropdown1">
								{% for child in menu.children %}
								<li>
									<a
										class="dropdown-item track"
										data-action="curiosity"
										data-cate="sub-menu"
										data-label="{{child.name}}"
										href="{{ child.link }}"
									>
										{{ child.name }}
									</a>
								</li>
								{% endfor %}
							</ul>
						</li>
						{% endif %} {% endfor %}
					</ul>
					{#
					<div class="nav-side">
						<a href="#" class="icon-link">
							<i class="fa fa-user fs-4"></i>
						</a>
						<a href="#" class="icon-link noti-dot">
							<i class="fa fa-shopping-bag fs-4"></i>
						</a>
						<a href="#" class="icon-link search-btn-style1">
							<i class="fa fa-search fs-4 sOpen-btn"></i>
							<i class="fa fa-close fs-4 sClose-btn"></i>
						</a>
					</div>
					#}
				</div>
			</div>
		</nav>
		<!-- ====== end navbar ====== -->

		<!-- ====== start nav-search ====== -->
		{#
		<div class="nav-search-style1">
			<div class="row justify-content-center align-items-center gx-lg-5">
				<div class="col-lg-4">
					<div class="info">
						<h5>
							you can search by category
							<br />
							or news title
						</h5>
					</div>
				</div>
				<div class="col-lg-6">
					<form class="form">
						<span class="color-777 fst-italic text-capitalize mb-2 fsz-13px">Enter Keyword</span>
						<div class="form-group">
							<span class="icon">
								<i class="fa fa-search"></i>
							</span>
							<input type="text" class="form-control" placeholder="Elon Musk ... " />
							<button type="submit">search</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		#}
		<!-- ====== end nav-search ====== -->
	</div>
</div>
<!-- ====== end navbar-container ====== -->
